<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Firebase Links -->
  	<!-- <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-firestore.js"></script>
    <script src="/__/firebase/5.9.1/firebase-app.js"></script> -->
    <title>Thank you</title>
    <meta http-equiv="Refresh" content="2; url=https://qro-test-2.firebaseapp.com" /> 
</head>
<body>
	<div style="align-self: center; padding-top: 200px;">
    <div class="container" align="center">
        <h1>Thank You for registering with Qro!</h1>
       <!--<div align="center">Click <a href="/">here</a> to go back to the home page!</div> -->
    </div>
		</div>
</body>
</html>